APP_NAME=MARKETPLACE_API
DEBUG=True
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/marketplace_db
JWT_SECRET_KEY=secret-key
JWT_REFRESH_SECRET_KEY=secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
